<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light py-3">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i
          ><strong>ATOM</strong></a
        >
        <button
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link font-italic"> Home </a>
            </li>
            <li class="nav-item">
              <a href="/mail" class="nav-link font-italic"> Ai Mail </a>
            </li>
            <li class="nav-item">
              <a href="/howtoreply" class="nav-link font-italic">
                How to Reply
              </a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link font-italic"> About </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="bg-light">
      <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
            <h1 class="display-4">ATOM</h1>
            <p class="lead mb-0">
              Welcome to Atom, the premier artificial intelligence-powered email
              service. Our goal is to revolutionize the way you communicate by
              providing a seamless and intuitive email experience that is aided
              by the power of AI..
            </p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white py-5">
      <div class="container py-5">
        <div class="row align-items-center mb-5">
          <div class="col-lg-6 order-2 order-lg-1">
            <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">AI Mail</h2>
            <p class="font-italic text-muted mb-4">
              Write less, let AI do the rest with our AI mail. Make Your Email
              Writing Easier with AI Mail Generator!.
            </p>
            <a href="#" class="btn btn-dark px-5 rounded-pill shadow-sm"
              >Learn More</a
            >
          </div>
          <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg"
              alt=""
              class="img-fluid mb-4 mb-lg-0"
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-5 px-5 mx-auto">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"
              alt=""
              class="img-fluid mb-4 mb-lg-0"
            />
          </div>
          <div class="col-lg-6">
            <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">How to Reply</h2>
            <p class="font-italic text-muted mb-4">
              Empowering You with AI: Let Our AI Reply Generator Do the
              Talking.Experience the power of AI with the AI Reply Generator -
              your personal assistant for all your messaging needs
            </p>
            <a href="#" class="btn btn-dark px-5 rounded-pill shadow-sm"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-light pb-5">
      <div class="container text-center">
        <p class="font-italic  mb-0">
          &copy; Copyrights Company.com All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
